@charset "utf-8";
.container {
    width: 1200px;
}

.myPractice {
    margin-top: 30px;
}

.Practice {
    width: 952px;
    min-height: 1070px;
}

.crumb {
    background-color: #fff;
    margin-left: -10px;
}

.tag {
    margin-top: 10px;
}

.tag dl {
    margin-right: 0;
}

.tag dd {
    width: 855px;
}

.module li {
    width: 462px;
}

.module li img {
    width: 100%;
    height: 100%;
}

.module .marginRI {
    margin-right: 28px;
}

.module .btn {
    width: 105px;
    padding: 0;
    text-align: center;
}