@charset "utf-8";
.container {
    width: 1180px;
    margin: 0 auto;
}


/* 头部样式 */

.header {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
}

.header .logo {
    margin-top: 14px;
}

.header .top-nav {
    margin-left: 124px;
}

.header .top-nav li {
    float: left;
}

.header .top-nav li a {
    display: block;
    font: 16px/80px "MicrosoftYaHei";
    padding: 0 21px 0 22px;
}

.header .top-nav .active a {
    background-color: #80C4AE;
    color: #fff;
}

.header .login-bar {
    font: 14px/1 'MicrosoftYaHei';
    color: #535353;
    margin-top: 33px;
    margin-right: 3px;
}

.header .login-bar a {
    color: #535353;
    cursor: pointer;
}

.header .search {
    width: 280px;
    border: 1px solid #80C4AE;
    border-radius: 3px 3px 3px 3px;
    margin: 22px 22px 0 0;
}

.header .search select {
    float: left;
    width: 68px;
    height: 36px;
    background: url(../images/arrow.png) no-repeat 51px 16px;
    border-right: 1px solid #80C4AE;
    font: 14px/32px "Microsoft YaHei";
    color: #8AC9B5;
    text-indent: 14px;
    appearance: none;
}

.header .search input {
    float: left;
    width: 147px;
    height: 36px;
    padding-left: 34px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #A9A9A9;
    line-height: 32px;
}

.header .search input[type="submit"] {
    width: 30px;
    padding: 0;
    background: url(../images/search.png) no-repeat left;
}


/* 通用模块样式 */

.module {
    margin-bottom: 6px;
}

.module .title h2 {
    float: left;
    font: 20px/1 "Microsoft YaHei";
    color: #333333;
    margin: 52px 0 23px 0;
}

.module .title h2::before {
    content: "";
    float: left;
    width: 5px;
    height: 20px;
    background-color: #80C4AE;
    margin: 0 12px 0 3px;
}

.module .title span {
    float: right;
    padding-right: 17px;
    margin-top: 59px;
}

.module .title a {
    font: 14px/20px "Microsoft YaHei";
    color: #74C6B3;
}

.module .title span::after {
    content: "";
    float: right;
    border-width: 5px 0 5px 5px;
    border-color: transparent;
    border-style: solid;
    border-left-color: #74C6B3;
    margin: 4px 0 0 10px;
}

.module ul li {
    float: left;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 22px;
}

.marginRI {
    margin-right: 20px;
}

.module .pic {
    position: relative;
}

.module .pic span {
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: 33px;
    background-color: rgba(0, 0, 0, .3);
    border-bottom-right-radius: 10px;
    text-indent: 18px;
    font: 12px/33px "Microsoft YaHei";
    color: #fff;
}

.module .pic div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.module .pic div p {
    float: right;
    font: 12px/33px "Microsoft YaHei";
    color: #fff;
    padding: 0 22px 0 16px;
}

.module .pic div p:first-child {
    float: left;
}

.module .content {
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, .01);
}

.module .content .txt p {
    font: 12px/24px "Microsoft YaHei";
    color: #565656;
}

.module .content .txt p:first-child {
    font: 14px/26px "Microsoft YaHei";
}

.module .content .btn {
    background-color: #74C6B3;
    border-radius: 3px;
    padding: 0 15px;
    margin-top: 9px;
}

.module .content .btn a {
    font: 14px/33px "Microsoft YaHei";
    color: #F0F2F5;
}


/* 页脚样式 */

.footer {
    background-color: #333333;
}

.footer .content {
    padding: 76px 67px 74px 57px;
    text-align: center;
}

.footer .content a {
    color: #f0f2f5;
}

.footer p {
    line-height: 38px;
    color: #f0f2f5;
    font-size: 12px;
}

.footer p span {
    margin: 0 8px 0 10px;
}


/* 侧边导航栏 */

.sideNav {
    position: fixed;
    top: 86px;
    right: 47px;
    background-color: #fff;
}

.sideNav ul li {
    position: relative;
    width: 70px;
    height: 70px;
    background: #FFEFD6;
    border-radius: 3px;
    margin-bottom: 5px;
}

.sideNav ul li:nth-last-child(1) {
    margin-bottom: 0;
}

.sideNav img {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    margin: 0 auto;
}

.sideNav p {
    position: absolute;
    bottom: 9px;
    left: 8px;
    color: #7DC0AB;
}


/* 标签列表 */

.tag {
    margin: 30px 0 40px 0;
}

.tag dl {
    overflow: hidden;
}

.tag dl:first-child {
    margin-bottom: 10px;
}

.tag dt,
.tag dd {
    float: left;
}

.tag dt {
    width: 80px;
    font: 16px/40px "SimHei";
    color: #3A3A3A;
    margin-right: 16px;
}

.tag dd {
    width: 1080px;
}

.tag dd a {
    float: left;
    width: 52px;
    margin: 7px 34px 7px 14px;
    border-radius: 3px;
    text-align: center;
    font: 14px/26px "黑体 Regular";
    color: #6c6c6c;
}

.tag dd a:hover,
.tag dd .active {
    background-color: #80C4AE;
    color: #fff;
}

.tag dd .last {
    width: 40px;
    margin-right: 0;
}


/* 面包屑导航 */

.crumb {
    padding: 13px 0;
    background-color: #f1f1f1;
}

.crumb a {
    float: left;
    width: 76px;
    font: 14px/34px "Microsoft YaHei";
    color: #333333;
    text-align: center;
}

.crumb span {
    float: left;
    width: 15px;
    padding-left: 10px;
    margin-top: 12px;
}

.up {
    border-width: 5px 5px 0 5px;
    border-color: transparent;
    border-style: solid;
    border-top-color: #999999;
}

.down {
    border-width: 0 5px 5px 5px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #999999;
}


/* 菜单栏 */

.menu {
    width: 204px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 27px 0 0 17px;
}

.menu .item {
    margin-bottom: 18px;
}

.menu .item dl {
    margin-left: 12px;
}

.menu .item dt {
    margin-bottom: 10px;
}

.menu .item dt a {
    font: 14px/26px "Microsoft YaHei";
    font-weight: 700;
    color: #333333;
}

.menu .item dd a {
    font: 12px/26px "Microsoft YaHei";
    color: #333333;
}

.menu .item .up,
.menu .item .down {
    margin: 10px 35px 0 0;
}

.menu .item .active a {
    color: #8AC9B5;
}

.menu .item .active {
    position: relative;
}

.menu .item .active::after {
    content: "";
    position: absolute;
    left: 123px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: #78b9a3;
    border-radius: 50%;
}

.menu .icon {
    width: 26px;
    height: 26px;
    background: url(../images/menu_sprites.png) no-repeat;
    background-position: -5px -5px;
}

.menu .item:nth-child(2) .icon {
    background-position: -5px -41px;
}

.menu .item:nth-child(3) .icon {
    background-position: -5px -77px;
}

.menu .item:nth-child(4) .icon {
    background-position: -5px -113px;
}


/* 试卷 */

.examination {
    margin-top: 20px;
}

.subject {
    width: 880px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}

.subject .subjectHeader h2 {
    font: 20px/60px "Microsoft YaHei";
}

.subject .subjectHeader span {
    font: 18px/40px "Microsoft YaHei";
}

.subject .subjectHeader {
    padding: 35px 55px 38px;
    border-bottom: 2px solid #d8d8d8;
}

.subject .main {
    padding: 30px 55px 0;
}

.subject .main h3 {
    font: 18px "Microsoft YaHei";
}

.subject .main .item {
    font: 18px "Microsoft YaHei";
}

.subject .main .item h4 {
    margin-bottom: 25px;
}

.subject .main .item ol {
    margin: 15px 0;
}

.subject .main .item ol li {
    font: 18px/50px "Microsoft YaHei";
}

.subject .main .item span {
    margin-right: 25px;
}